<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IRS 501(c)(3) Data Analysis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

</head>
<body class="body">
    <div class="container">
      <nav class="navbar-expand-sm navbar-light bg-secondary">
        <div class="col-4">
          <a class="navbar-brand" href="/"><h1>IRS 501(c)(3) Data Analysis</h1></a>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="jumbotron">
        <h2>Introduction</h2>
        <p>
          Nonprofit organizations have long been driving forces in myriad 
          aspects of American society. These organizations range from 
          religious groups to athletic foundations, and at present, 
          approximately 1.5 million non-profits, which currently had a 
          combined revenue of 2.2 trillion dollars during 2013, exist. 
          Because US tax law describes over thirty different types of 
          nonprofits, this project will focus on organizations registered 
          under section 501(c)(3) of Title 26. The IRS requires extensive 
          information from a 501(c)(3) applicant and is cognisant of 
          collecting complete and accurate information.   
        <h2>Data Exploration</h2>
        <p>
          The following questions were designed to explore the data set 
          in a manor that produces results sutable for visualization. 
        </p>
        <ul>
        <li>
          Is there a typical relationship between administrator 
          compensation and total expenditures and if not, why is that?
        </li>
        <a class="btn btn-secondary my-2" href="/admincompensataion">Results</a>
        <li>
          Do differences exist between the relative significance of different
          sources of income for various classes of 501(c)(3) tax exemptions?
        </li>
        <a class="btn btn-secondary my-2" href="/incomesource">Results</a>
        <li>
          Does wealth disperity exist within 501(c)(3) organizations in their
          total revenue, and, if so, to what extent?
        </li>
        <a class="btn btn-secondary my-2" href="/totalrevenues">Results</a>
        <li>
          Are some companies paying employees wages of 100K or more than the
          average 501(c)(3) organization?
        </li>
        <a class="btn btn-secondary my-2" href="/highwages">Results</a>
        </ul>
      </div>
    </div>

</body>

</html>